.guten-post-featured-image {
    display: flex;
    width: 100%;

    img {
        width: 100%;
        display: flex;
        object-fit: cover;
    }
}

.featured-gallery.gvnews_owlslider {

    .tns-nav {
        align-items: end;
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        transition: all 0.3s ease;

        button {
            margin: 0;
        }

    }

    .tns-controls button {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}