.guten-post-featured-image {
    display: flex;
    width: 100%;

    img {
        width: 100%;
        display: flex;
        object-fit: cover;
    }
}

.featured-gallery.gvnews_owlslider .tns-nav {
    align-items: end;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}