.guten-post-featured-image {
    display: flex;
    width: 100%;

    img {
        width: 100%;
        display: flex;
        object-fit: cover;
    }

    .featured_video {
        .gvnews_video_container {
            &:not(.ratio-auto) {
                position: relative;
                width: 100%;
                height: 0;
                padding-bottom: 56.25%;
                overflow: hidden;

                iframe,
                video {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border: 0;
                }
            }

        }

        .gvnews_featured_video_preview img {
            aspect-ratio: 16/9;
        }
    }
}

.featured-gallery.gvnews_owlslider {

    .tns-nav {
        align-items: end;
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        transition: all 0.3s ease;

        button {
            margin: 0;
        }

    }

    .tns-controls button {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}