.gutenverse-share-item {
  display: flex;
  text-decoration: none;
  overflow: hidden;

  a {
    display: flex;
    text-decoration: none;
    color: var(--guten-bg-color);

    &:active,
    &:visited,
    &:hover {
      color: var(--guten-bg-color);
    }
  }

  .gutenverse-share-icon {
    vertical-align: middle;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px;

    i {
      font-size: 15px;
      width: 15px;
    }

    svg {
      width: 1em;
      height: 1em;
      fill: currentColor;
    }
  }

  .gutenverse-share-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
  }

  /** social share **/
  &.gutenverse-share-facebook {
    .gutenverse-share-icon {
      background: #3b5998;
    }

    .gutenverse-share-text {
      background: #263e98;
    }
  }

  &.gutenverse-share-twitter {
    .gutenverse-share-icon {
      background: #1090e0;
    }

    .gutenverse-share-text {
      background: #156a9f;
    }

    &.x-twitter {
      .gutenverse-share-icon {
        background: #14171A;
      }

      .gutenverse-share-text {
        background: #2d2d2d;
      }
    }
  }

  &.gutenverse-share-pinterest {
    .gutenverse-share-icon {
      background: #bd081c;
    }

    .gutenverse-share-text {
      background: #9e0213;
    }
  }

  &.gutenverse-share-stumbleupon {
    .gutenverse-share-icon {
      background: #EB4924;
    }

    .gutenverse-share-text {
      background: #bd3213;
    }
  }

  &.gutenverse-share-linkedin {
    .gutenverse-share-icon {
      background: #0077b5;
    }

    .gutenverse-share-text {
      background: #046090;
    }
  }

  &.gutenverse-share-reddit {
    .gutenverse-share-icon {
      background: #ff4500;
    }

    .gutenverse-share-text {
      background: #c13805;
    }
  }

  &.gutenverse-share-tumblr {
    .gutenverse-share-icon {
      background: #35465c;
    }

    .gutenverse-share-text {
      background: #253347;
    }
  }

  &.gutenverse-share-vk {
    .gutenverse-share-icon {
      background: #45668e;
    }

    .gutenverse-share-text {
      background: #283f5b;
    }
  }

  &.gutenverse-share-whatsapp {
    .gutenverse-share-icon {
      background: #17a74d;
    }

    .gutenverse-share-text {
      background: #198642;
    }
  }

  &.gutenverse-share-telegram {
    .gutenverse-share-icon {
      background: #2CA5E0;
    }

    .gutenverse-share-text {
      background: #207ca9;
    }
  }

  &.gutenverse-share-wechat {
    .gutenverse-share-icon {
      background: #5cc928;
    }

    .gutenverse-share-text {
      background: #2f8819;
    }
  }

  &.gutenverse-share-line {
    .gutenverse-share-icon {
      background: #00B900;
    }

    .gutenverse-share-text {
      background: #0e8c0e;
    }
  }

  &.gutenverse-share-email {
    .gutenverse-share-icon {
      background: #a53310;
    }

    .gutenverse-share-text {
      background: #7d280e;
    }
  }

  &.gutenverse-share-chatgpt {
    .gutenverse-share-icon {
      background: #202123;
    }

    .gutenverse-share-text {
      background: #202123;
    }
  }

  &.gutenverse-share-perflexity {
    .gutenverse-share-icon {
      background: #20808d;
    }

    .gutenverse-share-text {
      background: #20808d;
    }
  }
}

.guten-social-share.button-layout-solid {
  .gutenverse-share-item {
    .gutenverse-share-icon,
    .gutenverse-share-text {
      background: transparent;
    }

    a {
      align-items: center;
    }

    &.has-text {
      .gutenverse-share-icon {
        padding-right: 4px;
      }

      .gutenverse-share-text {
        padding-left: 4px;
      }
    }

    &.gutenverse-share-facebook a {
      background: #3b5998;
    }

    &.gutenverse-share-twitter a {
      background: #1090e0;
    }

    &.gutenverse-share-twitter.x-twitter a {
      background: #14171A;
    }

    &.gutenverse-share-pinterest a {
      background: #bd081c;
    }

    &.gutenverse-share-stumbleupon a {
      background: #EB4924;
    }

    &.gutenverse-share-linkedin a {
      background: #0077b5;
    }

    &.gutenverse-share-reddit a {
      background: #ff4500;
    }

    &.gutenverse-share-tumblr a {
      background: #35465c;
    }

    &.gutenverse-share-vk a {
      background: #45668e;
    }

    &.gutenverse-share-whatsapp a {
      background: #17a74d;
    }

    &.gutenverse-share-telegram a {
      background: #2CA5E0;
    }

    &.gutenverse-share-wechat a {
      background: #5cc928;
    }

    &.gutenverse-share-line a {
      background: #00B900;
    }

    &.gutenverse-share-email a {
      background: #a53310;
    }

    &.gutenverse-share-chatgpt a {
      background: #10a37f;
    }

    &.gutenverse-share-perflexity a {
      background: #20808d;
    }
  }
}
