.guten-advanced-carousel {
    .container-overflow-hidden {
        .swiper-container {
            overflow: hidden;
        }
    }

    .carousel-content {
        display: flex;
        height: 100px;
        justify-content: center;
        align-items: center;
        color: #fff;
    }

    .swiper-wrapper {
        .swiper-slide:nth-child(1) {
            background: blue;
        }
        .swiper-slide:nth-child(2) {
            background: red;
        }
        .swiper-slide:nth-child(3) {
            background: green;
        }
    }
}