.guten-advanced-carousel {

    &.guten-style- {

        &2 {
            img {
                width: 100%;
            }
        }
    }

    .swiper-slide {
        .carousel-popup {
            position: absolute;
            background: #000;
            opacity: 0;
            left: 10px;
            right: 10px;
            bottom: 10px;
            top: 10px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &:hover {
            .carousel-popup {
                opacity: 0.3;
            }
        }
    }

    .carousel-content {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;


    }

    .container-overflow-hidden {
        .swiper-container {
            overflow: hidden;
        }
    }



    .swiper-wrapper {
        >.swiper-cube-shadow {
            display: none;
        }
    }
}