.guten-dynamic-pagination-next {
    align-items: center;
    border: 1px solid #eee;
    color: #212121;
    display: inline-flex;
    font-size: 13px;
    font-weight: 700;
    gap: 5px;
    height: -moz-fit-content;
    height: fit-content;
    justify-content: center;
    line-height: 30px;
    min-width: 30px;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    transition: .2s ease;
}