/** Post Template Specific **/
.editor-styles-wrapper {
    .guten-post-template {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;

        .guten-post-item {

            &.block-editor-block-list__layout,
            &.block-editor-block-preview__live-content {
                display: contents !important;
            }
        }

        &.guten-flex-container-editor {
            &:before {
                pointer-events: none;
            }
        }
    }
}