/** Post Template Specific **/
.editor-styles-wrapper {
    .guten-post-template {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;

        .guten-post-item {
            &.block-editor-block-list__layout {
                display: contents !important;
            }
        }
    }
}