/** Post Template Specific **/
.editor-styles-wrapper {
    .guten-post-template {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;

        &.guten-flex-container-editor {
            &:before {
                pointer-events: none;
            }
        }
    }
}