.guten-dynamic-pagination {
    align-items: center;
    display: flex;
    gap: 5px;
    height: -moz-fit-content;
    height: fit-content;
    justify-content: center;
    text-align: center;
    width: 100%;
}