@import "./notices/gutenverse-banner-notice.scss";
@import "./notices/gutenverse-upgrade-notice.scss";
@import "./notices/gutenverse-page-content-notice.scss";
@import "./notices/gutenverse-form-entries-notice.scss";

#gutenverse-dashboard {
	.gutenverse-340, .gutenverse-350 {
		h2 {
			font-weight: 500;
		}

		.upgrade-notice-head > div {
			border-radius: 20px;
		}
		
		.upgrade-notice-head > div > .upgrade-notice-title {
			color: #011627;
			text-align: center;
			font-family: "Roboto", sans-serif;
			font-size: 48px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: -0.64px;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			position: relative;
			z-index: 2;

			svg {
				margin-top: -10px;
			}
		}
		
		.upgrade-notice-head > div > .upgrade-notice-title > span {
			background: -webkit-linear-gradient(45deg, #a245ff, #4569FF, #68E4F4);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	} 

	.gutenverse-350 {
		.custom-notice-header {
			position: relative;
			overflow: hidden;
			border-radius: 20px;
			min-height: 200px;
			display: flex;
			align-items: center;
			justify-content: center;

			img {
				position: absolute;
				left: 0;
				top: 0;
				width: 100% !important;
				height: 100% !important;
				object-fit: cover;
				object-position: center;
				z-index: 1;
				display: block;
			}
		}

		.inner-content {
			padding: 40px;
			max-width: 980px;
			margin: 0 auto;

			h4 {
				display: flex;
				align-items: center;
				color: #011627 !important;
				font-family: "Roboto", sans-serif;
				font-size: 24px;
				font-weight: 600;
				line-height: 1.4;
				margin: 40px 0 20px;

				img {
					border-radius: 6px;
					margin: 0 12px 0 0;
					width: 32px;
					height: 32px;
				}
			}

			p {
				color: #40505D !important;
				font-family: "Roboto", sans-serif;
				font-size: 16px;
				font-weight: 400;
				line-height: 1.5em;
				margin-bottom: 20px;
			}

			ul {
				margin-bottom: 30px;
				padding-left: 20px;
				list-style-type: disc;

				li {
					color: #40505D !important;
					font-family: "Roboto", sans-serif;
					font-size: 16px;
					font-weight: 400;
					line-height: 1.5em;
					margin-bottom: 10px;
				}
			}

			img {
				border-radius: 20px;
				width: 100%;
				height: auto;
				display: block;
				margin-bottom: 40px;
			}
		}
	}

}
